<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Add Blog</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row new-blog-header">
            <div class="col-xs-6 pull-left">
                <span th:text="#{blog.new}"></span>
            </div>
            <div class="col-xs-6 view-all-blog-header">
                <span><a th:href="@{/blog/all}" th:text="#{blog.all}"></a></span>
            </div>
        </div>
        <!-- blog form starts -->
        <form th:action="@{/blog/new}" th:method="post" th:object="${blog}" role="form" class="form-horizontal">
            <div th:if="${blogSaved}" class="alert alert-success">
                <span th:text="#{blog.save.success}"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="title">Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Blog Title"/>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                          class="help-block alert alert-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="category">Category:</label>
                <div class="col-sm-10">
                    <select id="category" th:field="*{category}">
                        <option value="">Select Category</option>
                        <option th:each="category: ${categories}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                          class="help-block alert alert-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                    <textarea rows="15" cols="100" th:field="*{description}"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                          class="help-block alert alert-danger"></span>
                </div>

            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>

        <!-- blog form ends -->

    </div>
</div>
<!--
<footer class="footer">
    <div class="container">
        <div layout:fragment="custom-footer"></div>
    </div>
</footer> -->
</body>
</html>