<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>All Blogs</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div th:if="${blogCategory}">
                        <p>
                            Category: <span th:text="${blogCategoryName}"></span>
                        </p>
                    </div>
                    <div th:if="${blogAll}">
                        <p th:text="#{blog.all}"></p>
                    </div>
                    <p sec:authorize="hasAuthority('ADMIN')">
                        <a th:text="#{blog.new}" th:href="@{/blog/new}"></a>
                    </p>
                </div>
                <div class="panel-body">
                    <div th:if="${blogNotFound}"
                         class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:text="#{blog.not.found}"></span>
                    </div>
                    <div th:if="${blogDeleted}"
                         class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:text="#{blog.delete.success}"></span>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="blog : ${blogs}">
                            <td><a
                                    th:href="@{/blog/show/{id}/{blogTitle}(id=${blog.id}, blogTitle=${blog.titleWithHypen})}"
                                    th:text="${blog.title}"></a></td>
                            <td sec:authorize="hasAuthority('ADMIN')"><a
                                    th:href="@{/blog/edit/{id}(id=${blog.id})}" class="green">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a></td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <form id="delete-form" th:method="post"
                                      th:action="@{/blog/delete/{id}(id=${blog.id})}">
                                    <!-- onsubmit="return confirm('Do you really want to submit the form?');" -->
                                    <button type="button" class="btn btn-danger delete-confirm">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading most-popular-blog">
                    <p th:text="#{blog.most.popular}"></p>
                </div>
                <div class="panel-body">
                    <div th:each="blog : ${blogs}">
                        <p>
                            <a th:href="@{/blog/show/{id}(id=${blog.id})}"
                               th:text="${blog.title}"></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- recent blogs ends -->
            <div class="panel panel-default">
                <div class="panel-heading most-popular-blog">
                    <p th:text="#{blog.recent}"></p>
                </div>
                <div class="panel-body">
                    <div th:each="blog : ${recentBlogs}">
                        <p>
                            <a
                                    th:href="@{/blog/show/{id}/{title}/(id=${blog.id}, title=${blog.titleWithHypen})}"
                                    th:text="${blog.title}"></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- recent blogs ends -->
            <!-- category ends -->
            <div class="panel panel-default">
                <div class="panel-heading most-popular-blog">
                    <p th:text="#{category.show}"></p>
                </div>
                <div class="panel-body">
                    <div th:each="category : ${categories}">
                        <p>
                            <a
                                    th:href="@{/blog/category/{id}/{title}/(id=${category.id}, title=${category.name})}"
                                    th:text="${category.name}"></a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- categories ends -->
            <!-- affiliate link starts -->
            <div th:include="affiliateLink :: affiliate-right-sidebar"></div>
            <!-- affiliate link ends -->
        </div>
    </div>
</div>
</body>
