<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">My Resume</div>
            <div class="panel-body">
                <form th:action="@{/resume/new}" th:method="post" th:object="${resume}" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="my name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="age">Age:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" th:field="*{age}" placeholder="my age"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location">Current Location:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{location}" placeholder="my location"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location">Picture:</label>
                        <div class="col-sm-10">
                            <input type="file" th:field="*{image}" placeholder="select picture"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">About Me:</label>
                        <div class="col-sm-10">
                            <textarea cols="30" rows="10" class="form-control" th:field="*{about}"
                                      placeholder="about me"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location">Education:</label>
                        <label class="control-label col-sm-3" for="college">College/University Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{education[0].name}"
                                   placeholder="college /university"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="college">Course:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{education[0].course}"
                                   placeholder="course of study"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="college">Start date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{education[0].startDate}"
                                   placeholder="start date"/>
                        </div>
                        <label class="control-label col-sm-2" for="college">End date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{education[0].endDate}"
                                   placeholder="end date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location"></label>
                        <label class="control-label col-sm-3" for="college">College/University Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{education[1].name}"
                                   placeholder="college /university"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="college">Course:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{education[1].course}"
                                   placeholder="course of study"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="college">Start date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{education[1].startDate}"
                                   placeholder="start date"/>
                        </div>
                        <label class="control-label col-sm-2" for="college">End date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{education[1].endDate}"
                                   placeholder="end date"/>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location">Careers:</label>
                        <label class="control-label col-sm-3" for="companyname">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[0].name}"
                                   placeholder="company name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="title">Title:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[0].title}" placeholder="title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="startdate">Join date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{career[0].joinDate}"
                                   placeholder="start date"/>
                        </div>
                        <label class="control-label col-sm-2" for="enddate">End date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{career[0].endDate}"
                                   placeholder="end date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="location">Location:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[0].location}"
                                   placeholder="location"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="website">Website:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[0].website}"
                                   placeholder="company website"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location"></label>
                        <label class="control-label col-sm-3" for="companyname">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[1].name}"
                                   placeholder="company name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="title">Title:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[1].title}" placeholder="title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="startdate">Join date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{career[1].joinDate}"
                                   placeholder="start date"/>
                        </div>
                        <label class="control-label col-sm-2" for="enddate">End date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{career[1].endDate}"
                                   placeholder="end date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="location">Location:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[1].location}"
                                   placeholder="location"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="website">Website:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[1].website}"
                                   placeholder="company website"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="location"></label>
                        <label class="control-label col-sm-3" for="name">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[2].name}"
                                   placeholder="company name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="title">Title:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[2].title}" placeholder="title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="startdate">Join date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{career[2].joinDate}"
                                   placeholder="start date"/>
                        </div>
                        <label class="control-label col-sm-2" for="enddate">End date:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" th:field="*{career[2].endDate}"
                                   placeholder="end date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="location">Location:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[2].location}"
                                   placeholder="location"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-sm-offset-2" for="website">Website:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:field="*{career[2].website}"
                                   placeholder="company website"/>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Languages/Tools:</label>
                        <div class="col-sm-10">
                            <textarea cols="30" rows="10" class="form-control" th:field="*{languageTools}"
                                      placeholder="language and tools"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>
</div>
</body>
</html>