<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <p>My Resume</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="pull-right"><a th:href="@{/resume}">View Resume</a></p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div th:if="${resumeSaved}" class="alert alert-success" id="resume-form">
                    <p>Resume Saved Successfully</p>
                </div>
                <form th:action="@{/resume/new}" th:method="post" th:object="${resume}" class="form-horizontal"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">About Me:</label>
                        <div class="col-sm-10">
                            <textarea cols="30" rows="10" class="form-control" th:field="*{about}"
                                      placeholder="about me"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-success save-confirm">Save Resume</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>
</div>
</body>
</html>