<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/resume/edit}">Edit Resume</a>
        </div>
        <div th:if="${resume}">
            <div th:utext="${resume.about}">
            </div>
        </div>

    </div>
</div>
</body>
</html>