<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div class="container">
    <section layout:fragment="content">
        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".sidebar-collapse">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" th:href="@{/}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <div th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
                            <div th:if="${currentUser!=null}">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a th:href="@{/user}"><i class="fa fa-user" aria-hidden="true"></i>
                                        <span th:text="${currentUser}"></span></a></li>
                                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. NAV TOP  -->

            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <div th:replace="dashboard/leftNavbar :: navbar">Left nav bar</div>
                </div>
            </nav>

            <!-- /. NAV SIDE  -->

            <div id="page-wrapper">
                <div id="page-inner">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Change Password</h3>
                            </div>
                            <div th:if="${passwordChanged}" class="alert alert-success">Password changed successfully
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-8">
                                    <form th:action="@{/settings/user/profile/change-password}" th:method="post"
                                          th:object="${user}" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="email">Email:</label>
                                            <div class="col-sm-8">
                                                <input type="hidden" class="form-control" th:field="*{name}"/>
                                                <input type="email" class="form-control" th:field="*{email}"
                                                       readonly="readonly"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="pwd">Old Password:</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" th:field="*{password}"
                                                       placeholder="Enter old password"/>
                                                <div th:if="${passwordMatches!=null and !passwordMatches}"
                                                     class="alert alert-danger">Please provide a valid current password
                                                </div>
                                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                     class="help-block alert alert-danger"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="pwd">New Password:</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" th:field="*{plainPassword}"
                                                       placeholder="Enter new password"/>
                                                <div class="alert alert-danger"
                                                     th:if="${#fields.hasErrors('plainPassword')}"
                                                     th:errors="*{plainPassword}"></div>
                                                <div class="alert alert-danger" th:if="${passwordMismatch}">New
                                                    passwords doesn't match
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-4" for="pwd">Retype Password:</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control" th:field="*{retypePassword}"
                                                       placeholder="Retype new password"/>
                                                <div class="alert alert-danger"
                                                     th:if="${#fields.hasErrors('retypePassword')}"
                                                     th:errors="*{retypePassword}"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-8">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                                <a th:href="@{/settings/user/{id}/profile(id=${user.id})}">
                                                    <button type="button" class="btn btn-warning">Cancel</button>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->

    </section>
</div>
<!--
<footer class="footer">
    <div class="container">
        <div layout:fragment="custom-footer"></div>
    </div>
</footer> -->
</body>
</html>