<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div class="container">
    <section layout:fragment="content">
        <div id="wrapper">
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <div th:replace="dashboard/leftNavbar :: navbar">Left nav
                        bar
                    </div>

                </div>
            </nav>

            <!-- /. NAV SIDE  -->

            <div id="page-wrapper">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>DASHBOARD</h2>
                        </div>
                    </div>
                    <!-- /. ROW  -->
                    <hr/>

                    <!-- /. ROW  -->
                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"
                             sec:authorize="isAuthenticated()">
                            <div class="div-square">

                                <a th:href="@{/settings/user/{id}/profile(id=${userId})}">
                                    <i class="fa fa-gear fa-5x"></i>
                                    <h4>Settings</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html"> <i class="fa fa-wechat fa-5x"></i>
                                    <h4>Live Talk</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html"> <i class="fa fa-bell-o fa-5x"></i>
                                    <h4>Notifications</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html"> <i class="fa fa-user fa-5x"></i>
                                    <h4>Profile</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
    </section>
</div>
<!--
<footer class="footer">
    <div class="container">
        <div layout:fragment="custom-footer"></div>
    </div>
</footer> -->
</body>
</html>