<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<div class="container">
    <div layout:fragment="content">
        <div class="container">
            <div class="access-denied jumbotron col-sm-6 col-sm-offset-3">
                <h1 style="color:red;">Access Denied!</h1>
                <p>You do not have sufficient privilege to access this page</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>