/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0
    http://creativecommons.org/licenses/by/3.0/
    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */
/*==============================================
    GENERAL  STYLES
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    /* margin-top: 50px; */
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff !important;
    padding: 10px;
    min-height: 1050px;
}

.pad-top {
    padding-top: 15px;
}

/*==============================================
    MENU STYLES
    =============================================*/
..navbar-top .nav {
    padding: 0;
    /* padding-top: 50px; */
}

..navbar-top > .nav > li > a {
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
}

..navbar-top > .nav > li {
    border-bottom: 1px solid #e1e1e1;
}

..navbar-top .nav > li > a:hover, .sidebar-collapse .nav > li > a:focus {
    background: #F3F3F3;
    outline: 0;
}

.logout-spn {
    float: right;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin: 20px;
    margin: 10px 25px 10px 50px;
}

.logout-spn a {
    text-decoration: none;
}

.active-link {
    background-color: #f3f3f3;
}

/*==============================================
    DASHBOARD STYLES
    =============================================*/
.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
}

.div-square > a, .div-square > a:hover {
    color: #808080;
    text-decoration: none;
}

/*==============================================
    MEDIA QUERIES
    =============================================*/
@media ( min-width: 768px) {
    #page-wrapper {
        /* margin: 0 0 0 260px; */
        margin: 0px 0 0 275px;
        padding: 0px 15px;
        min-height: 1050px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
}

@media (min-width: 320px) {

}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}