<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{category.new}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p th:text="#{category.new}"></p>
                <a th:href="@{/category/all}" th:text="#{category.show}"></a>
            </div>
            <div class="panel-body">
                <form id="categoryForm" th:method="post"
                      th:action="@{/category/new}" th:object="${category}">
                    <div class="alert alert-danger" th:if="${invalidCategory}">
                        <p th:text="#{category.name.invalid}"></p>
                    </div>
                    <div class="alert alert-danger" th:if="${categoryExists}">
                        <p th:text="#{category.name.exists}"></p>
                    </div>
                    <div class="alert alert-success" th:if="${categorySaved}">
                        <p th:text="#{category.save.success}"></p>
                    </div>

                    <div class="alert alert-success" th:if="${categoryNotFound}">
                        <p th:text="#{category.not.exists}"></p>
                    </div>
                    <div class="form-group">
                        <label for="name" th:text="#{category.name}">Username</label> <input
                            type="text" th:field="*{name}" class="form-control required"/>
                    </div>
                    <button type="submit" class="btn btn-primary"
                            th:text="#{btn.submit}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>