<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Contact</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    <small>Have a question or two? Let's talk</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="well well-sm">
                    <form th:action="@{/contact/new}" th:method="post" th:object="${contact}">
                        <div class="alert alert-success" th:if="${contactMessageSaved}">
                            <span th:text="#{contact.save.success}"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="name"> Name</label>
                                    <input type="text" th:field="*{name}" class="form-control"
                                           placeholder="Enter name"/>
                                    <div class="help-block alert alert-danger error-margin"
                                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                        <span th:text="#{contact.name.invalid}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email"> Email Address</label>
                                    <div class="input-group">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-envelope"></span> 
											</span>
                                        <input type="email" class="form-control" th:field="*{email}"
                                               placeholder="Enter email"/>
                                    </div>
                                    <div class="help-block alert alert-danger error-margin"
                                         th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject"> Subject</label>
                                    <select id="subject" name="subject" class="form-control">
                                        <option value="" selected="">Select subject</option>
                                        <option value="inquiry">General Inquiry</option>
                                        <option value="suggestions">Suggestions</option>
                                        <option value="support">Support</option>
                                    </select>
                                    <div class="help-block alert alert-danger error-margin"
                                         th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!-- prod -->
                                    <div th:if="${@environment.getProperty('spring.profiles.active')}=='prod'">
                                        <div class="g-recaptcha"
                                             data-sitekey="6Le62h8UAAAAAJQ5sOUonQkrwZsgY-LeYwpSSyc9"></div>
                                    </div>
                                    <!-- dev -->
                                    <div th:if="${@environment.getProperty('spring.profiles.active')}=='dev'">
                                        <div class="g-recaptcha"
                                             data-sitekey="6Le92h8UAAAAAD98tc-H7YElFW2NqbNRhFT3x45M"></div>
                                    </div>
                                    <div th:if="${captchaValidationFailed}"
                                         class="help-block alert alert-danger error-margin">
                                        <span th:text="#{captcha.validation.failed}">captcha validation failed</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="name"> Message</label>
                                    <textarea th:field="*{message}" id="message" class="contact-textarea form-control "
                                              rows="9" cols="25" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <form>
                    <legend>
                        <span class="glyphicon glyphicon-globe"></span> Quick Contact
                    </legend>
                    <address>
                        <strong>Buddhi Bal Thapa</strong><br/> Al Rigga, Dubai<br/>
                    </address>
                    <address>
                        <abbr title="Email"> Email:</abbr> <a href="mailto:budthapa@gmail.com">budthapa@gmail.com</a>
                    </address>
                </form>
            </div>
        </div>
    </div>

</section>
<!-- 
	<footer class="footer">
		<div class="container">
			<div layout:fragment="custom-footer"></div>
		</div>
	</footer> -->
</body>
</html>

