<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Login</title>
</head>
<body>
<div class="container">
    <section layout:fragment="content">
        <div class="container">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div>
                                <span>Sign In</span>
                            </div>
                            <div class="forgot-password pull-right">
                                <a class="forgot-password-link" href="#">Forgot password?</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" id="login-panel-body">
                        <div th:if="${param.error}" id="login-alert" class="alert alert-danger col-sm-12">
                            <span>Invalid Email or Password</span>
                        </div>
                        <div th:if="${linkExpired}" id="login-alert" class="alert alert-danger col-sm-12">
                            <span th:text="#{link.expired}"></span>
                        </div>

                        <div th:if="${accountActivated}" id="login-alert" class="alert alert-success col-sm-12">
                            <span th:text="#{account.activated.success}"></span>
                        </div>
                        <div th:if="${accountAlreadyActivated}" id="login-alert" class="alert alert-success col-sm-12">
                            <span th:text="#{account.already.activated}"></span>
                        </div>
                        <div th:if="${resendActivationLink}" id="login-alert" class="alert alert-info col-sm-12">
                            <span th:text="#{resend.activation.link}"></span>
                        </div>
                        <form th:action="@{/login}" th:method="POST" id="loginform" class="form-horizontal" role="form">
                            <div class="input-group login-input">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-user"></i>
									</span>
                                <input id="email" type="email" class="form-control" name="email"
                                       placeholder="enter your email"/>
                            </div>

                            <div class="input-group login-input">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-lock"></i>
									</span>
                                <input id="password" type="password" class="form-control" name="password"
                                       placeholder="password"/>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input id="login-remember" type="checkbox" name="remember" value="1"/> Remember
                                        me
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 controls">
                                <button type="submit" class="btn btn-success login-button">Login</button>
                            </div>

                            <div style="margin-top: 10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-4">
                                    <a th:href="@{/register}">Register </a>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--
<footer class="footer">
  <div class="container">
    <p layout:fragment="custom-footer">login page footer</p>
  </div>
</footer>
 -->
</body>
</html>




