<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Registration</title>
</head>
<body>
<div class="container">
    <section layout:fragment="content">
        <div class="container">
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div th:if="${registrationSuccess}">
                    <p th:text="#{register.success}" class="alert alert-success"></p>
                    <p th:text="#{activation.link.sent}" class="alert alert-info"></p>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div>
                                <span>New User Registration</span>
                            </div>
                            <div class="login-link pull-right">
                                <a th:href="@{/login}">Log In</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" id="login-panel-body">
                        <div th:if="${accountExists}" class="alert alert-danger">
                            <span th:text="#{account.exists}"></span>
                        </div>
                        <div th:if="${invalidEmail}" class="alert alert-danger">
                            <span th:text="#{email.invalid}"></span>
                        </div>
                        <form th:action="@{/register}" th:method="POST" th:object="${register}" id="register"
                              class="form-horizontal" role="form">
                            <div class="input-group login-input">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-user"></i>
									</span>
                                <input type="email" class="form-control" th:field="*{email}"
                                       placeholder="enter your email"/>
                            </div>
                            <!-- <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div> -->
                            <div style="margin-top: 10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--
<footer class="footer">
  <div class="container">
    <p layout:fragment="custom-footer">login page footer</p>
  </div>
</footer>
 -->
</body>
</html>




